html
    head
        title z-index
        link(rel="stylesheet" href="./static/css/main.css")
        script(src="https://unpkg.com/vue")
    body
        div#holder
            z-index-item(v-bind:id=" 'header' " v-bind:name=" 'Header' " v-bind:position=" 'fixed' " v-bind:z="30")
            z-index-item(v-bind:id=" 'sidebar' " v-bind:name=" 'Side Bar' " v-bind:position=" 'fixed' " v-bind:z="29")

            div(id='content')
                -for(let i = 0; i <100;++i)
                    z-index-item(class='section' v-bind:name=" 'Section' " v-bind:position=" 'sticky' " v-bind:z="20")



        script(src="./static/js/main.js")