html
    head
        title z-index
        script(src="https://unpkg.com/vue")
    body
        div#holder
            div(id='headerPlaceHolder')
            z-index-item(v-bind:id=" 'header' " v-bind:name=" 'Header' " v-bind:position=" 'sticky' " v-bind:z="30")
            z-index-item(id='sidebar' v-bind:name=" 'Side Bar' " v-bind:position=" 'fixed' " v-bind:z="30")

            div(id='body')
                -for(let i = 0; i <6;++i)
                    z-index-item(class='section' v-bind:name=" 'header' " v-bind:position=" 'sticky' " v-bind:z="20")
                        expandableItem
                        expandableItem



        script(src="./static/js/main.js")