@import url('https://fonts.googleapis.com/css?family=Roboto');
*
{
    font-family: 'Roboto', sans-serif;
    padding:0;
    margin:0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;

}

/*General styling for components*/
.zIndexedElement
{
    display: flex;
    margin:20px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 5px 5px 10px rgba(0,0,0,.4),-5px 5px 10px rgba(0,0,0,.4);
    background:white;
}
.zIndexedElement > .header
{
    display: flex;
    width:100%;
    margin: 0 10px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.zIndexedElement > .header > h2
{
    font-size: 32px;
}
.zIndexedElement > .body
{
    display: flex;
    width:100%;
    justify-content: space-around;
    align-items: center;
}
.zIndexedElement > div.header
{

}
.zIndexControl
{
    display:flex;
    align-items: center;
}
.zIndexControl > div.zCounter
{
    margin-right: 10px;
    font-size: 18px;
    flex-wrap: wrap;
    align-items: center;
}
.zIndexControl > div.counter
{
    font-size: 18px;
}

.zIndexControl > div.arrowControl
{
    width:25px;
    height:25px;
    font-size: 18px;
    text-align: center;
    line-height: 26px;
    cursor:pointer;
    transition: .2s;
    border: 1px solid black;
    background: white;
    margin-right:2px;
}
.zIndexControl > div.arrowControl:hover
{
    color:white;
    background: black;
    box-shadow: 2px 2px 5px rgba(0,0,0,.4),-2px 2px 5px rgba(0,0,0,.4);
}
.zIndexControl > div.arrowControl:active
{

    background: #555;
    color:#ddd;
    box-shadow: 1px 1px 5px rgba(0,0,0,.4),-1px 1px 5px rgba(0,0,0,.4);
}
.expandable
{
    width:100px;
    height:100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: stretch;
    border: 1px solid black;
}
.expandable > div.up,.expandable > div.down
{
    width:100%;
    height:20px;
    text-align: center;
    justify-self: center;
}
.expandable > div.down
{
    align-self: flex-end;
}
.expandable > div.right,.expandable > div.left
{
    width:20px;
    display: flex;
    justify-content: center;
}
.expandable > div.left
{
    text-align: right;
}
/*ID specific style*/
#header
{
    top:0;
    margin:0;
    height:100px;
    width:100%;
}
#sidebar
{
    flex-wrap: wrap;
    width:250px;
    margin:0;
    box-shadow: none;
}
#sidebar > div.header
{
    flex-wrap: wrap;
}
#content
{
    margin-top: 100px;
    margin-left:250px;
    padding:2px;
}